@charset "UTF-8";

body {
    background-color: #D5FFE7;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #0F3A23;
}

h1#main {
    text-align: center;
    background-color: #3B805C;
    color: white;
}

h2 {
    color: #457E61;
}

.basico {
    color: #3F7F63;
    font-weight: bolder;
    text-decoration: underline;
}

.intermediario {
    color: #7B7F3E;
    font-style: italic;
}

.avancado {
    color: #793C45;
    text-decoration: underline;
}

.destaque{
    background-color: #65683B70 ;
}