@charset "UTF-8";



body {
    background-color: rgb(120, 109, 175);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

h1 {
    color: brown;
    background-color: goldenrod;
    opacity: 60%;
}

h2 {
    color: brown;

}

p {
    text-align: justify;
    background-color: aliceblue;

}