@charset "UTF-8";


.container {
    display: grid;
    grid-template-rows:100px  repeat(2, 200px);
    grid-template-columns: repeat(7, 1fr);
    
    gap: 5px;
}

div{
    padding: 10px;
}

.cx1 {
    background-color: lightyellow;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: -1;
    
}

.cx2 {
    background-color: lightgreen;
    grid-row-start: 2;
    grid-row-end: -1;
    grid-column-start: 1;
    grid-column-end: 2;
}

.cx3 {
    background-color: lightskyblue;
    grid-row-start: 2;
    grid-row-end: -1;
    grid-column-start: 2;
    grid-column-end: -2;
}

.cx4{
    background-color: lightslategray;
    grid-row-start: 2;
    grid-row-end: -1;
    grid-column-start: -2;
    grid-column-end: -1;
}