@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

p {
    text-align: justify;
}

body {
    background-image: linear-gradient(to bottom, #3fc48f, #4ef1b0);
    background-attachment: fixed;
}

main {
    background-color: white;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 2%;
    box-shadow: 2px 2px 15px rgba(82, 80, 74, 0.595);
}

h1 {
    text-align: center;
    color: #3FC48F;
    text-shadow: 1px 1px 1.25px #315d4b;
}

h2 {
    color: #445E54;
    text-shadow: 1px 1px 1.25px #3FC48F;
}