@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

p {
    text-align: justify;
}

body {
    background-image: linear-gradient(to bottom, #EED9C5, #EEC4A5);
    background-attachment: fixed;
}

main {
    background-color: white;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 2%;
    box-shadow: 2px 2px 15px rgba(82, 80, 74, 0.595);
}

h1 {
    text-align: center;
    color: #F09204;
    text-shadow: 1px 1px 2px #4a2e03;
}

h2 {
    color: #0F5186;
}